<div class="websiteIcon">
    <h1><a href="/dashboard">HealthAura</a></h1>
</div>

<div class="menuItems">

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="home-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#dashboardCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Dashboard</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="dashboardCollapse">
            <p class="singleDropDown-Text"><a href="/" target="_blank">Visit Site</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="medkit-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#hospitalCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Hospitals</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="hospitalCollapse">
            <p class="singleDropDown-Text"><a href="/dashboard/add-new-hospital">Add Hospital</a></p>
            <p class="singleDropDown-Text"><a href="/dashboard/all-hospitals">All Hospitals</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="person-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#doctorCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Doctors</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="doctorCollapse">
            <p class="singleDropDown-Text"><a href="/dashboard/doctor/add/doctor">Add Doctor</a></p>
            <p class="singleDropDown-Text"><a href="#">All Doctors</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="bandage-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#medicalCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Medicals</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="medicalCollapse">
            <p class="singleDropDown-Text"><a href="#">Add Medical</a></p>
            <p class="singleDropDown-Text"><a href="#">All Medicals</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="car-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#ambulanceCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Ambulance</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="ambulanceCollapse">
            <p class="singleDropDown-Text"><a href="#">Add Ambulance</a></p>
            <p class="singleDropDown-Text"><a href="#">All Ambulance</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="person-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#userCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Users</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="userCollapse">
            <p class="singleDropDown-Text"><a href="#">All Users</a></p>
        </div>
    </div>

    <div class="leftDropdownItems">
        <div class="dashboard-item">
            <div class="leftIcon-text">

                <ion-icon name="car-outline"></ion-icon>
                <a data-bs-toggle="collapse" href="#settingCollapse" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <p>Settings</p>
                </a>
            </div>
        </div>
        <div class="collapse" id="settingCollapse">
            <p class="singleDropDown-Text"><a href="#">View Profile</a></p>
            <p class="singleDropDown-Text"><a href="#">Edit Profile</a></p>
            <p class="singleDropDown-Text"><a href="/v1/auth/logout">Logout</a></p>
        </div>
    </div>
</div>