<div class="uploadHospitalFormSection">
                <div class="UHS-left">
                    <div class="hospitalName singleField">
                        <input type="text" name="doctorName" placeholder="Doctor's name">
                    </div>
                    <div class="hospital-phone-location col2_fields">
                        <input class="leftField"  type="text" name="doctorPhone" placeholder="Doctor's Contact">
                        <input class="rightField" type="text" name="doctorAddress" placeholder="Address">
                    </div>
                    <div class="hospital-city-type col2_fields">
                        <input  class="leftField" type="text" name="doctorCity" placeholder="City">
                        <input  class="rightField" type="text" name="mainSpeciality" placeholder="Main Speciality">
                    </div>
                    <div class="hospital-city-type col2_fields">
                        <input  class="leftField" type="text" name="totalPatients" placeholder="Total Patients">
                        <input  class="rightField" type="text" name="totalExperience" placeholder="Total Experience">
                        <input  class="rightField" type="text" name="totalRating" placeholder="Total Rating">
                    </div>
                    <div class="hospital-treatments singleField">
                        <textarea style="resize: none;" name="doctorBiography" id="" cols="30" rows="5" placeholder="Doctor's Biography"></textarea>
                    </div>
                    <div class="hospital-About singleField">
                        <textarea style="resize: none;" name="specialities" id="" cols="30" rows="5" placeholder="Doctor's specialities separate by commas (,)"></textarea>
                    </div>
                </div>

                <div class="UHS-right">
                    <div class="UHS-featuredImg">
                        <input type="file" name="featuredImg" id="featuredImg" >
                        <label for="featuredImg">Doctor's Image</label>
                        <img class="uploadedSuccessfullyIcon uploadedSuccessfullyFeaturedImg" src="/img/uploaded successful.png" alt="">
                    </div> 
                    <div class="UHS-featuredImg">
                        <button class="submit-UH" type="submit">Save Doctor</button>
                    </div>
                </div>
            </div>