<div class="uploadHospitalFormSection">
                <div class="UHS-left">
                    <div class="hospitalName singleField">
                        <input type="text" name="hospitalName" placeholder="Hospital name">
                    </div>
                    <div class="hospital-phone-location col2_fields">
                        <input class="leftField" type="text" name="hospitalPhone" placeholder="Hospital Contact">
                        <input class="rightField" type="text" name="hospitalAddress" placeholder="Address">
                    </div>
                    <div class="hospital-city-type col2_fields">
                        <input class="leftField" type="text" name="hospitalCity" placeholder="City">
                        <input class="rightField" type="text" name="hospitalType" placeholder="Type">
                    </div>
                    <div class="hospital-iFrame singleField">
                        <input type="text" name="hospitalIframe" placeholder="iFrame">
                    </div>
                    <div class="hospitalName singleField">
                        <input type="text" name="hospitalMeta" placeholder="Description in Short">
                    </div>
                    <div class="hospital-treatments singleField">
                        <textarea style="resize: none;" name="hospitalTreatments" id="" cols="30" rows="5" placeholder="Treatments, Separate by commas"></textarea>
                    </div>
                    <div class="hospital-About singleField">
                        <textarea style="resize: none;" name="hospitalAbout" id="" cols="30" rows="5" placeholder="About Hospital max 50 words"></textarea>
                    </div>
                </div>

                <div class="UHS-right">
                    <div class="UHS-featuredImg">
                        <input type="file" name="featuredImg" id="featuredImg">
                        <label for="featuredImg">Featured Image</label>
                        <img class="uploadedSuccessfullyIcon uploadedSuccessfullyFeaturedImg" src="/img/uploaded successful.png" alt="">
                    </div> 
                    <div class="UHS-featuredImg">
                        <input type="file" name="multipleImgs" id="multipleImgs" multiple>
                        <label for="multipleImgs">Hospital Images</label>
                        <img class="uploadedSuccessfullyIcon uploadedSuccessfullyMultipleImg" src="/img/uploaded successful.png" alt="">

                    </div>
                    <div class="UHS-featuredImg">
                        <button class="submit-UH" type="submit">Upload Hospital</button>
                    </div>
                </div>
            </div>