<!-- Menu -->
        <section class="mobileMenu">
            <div class="upperMobileMenuArea">
                <ion-icon name="close-outline" class="mobileMenuCloseIcon"></ion-icon>
                <div class="mobileMenuUPAREA">
                {{#if profilePic}}
                    {{#each validUser}}
                    <div class="userAvatar">
                        <img src="/uploads/{{this.userImg}}" alt="">
                    </div>
                    {{/each}}
                {{/if}}
                
                {{#if notAuthenticated}}
                <div class="userAvatar">
                        <img src="/img/user.png" alt="">
                    </div>
                    <div class="MenuPage-userName">
                        <p>Guest User</p>
                        <p>Unknown</p>
                    </div>
                {{/if}}
                {{#each validUser}}
                <div class="MenuPage-userName">
                        <p>{{this.userName}}</p>
                        <p>{{this.userCity}}</p>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="LowerMobileMenuArea">
                <div class="lowerMenuItems">
                    {{#if notAuthenticated}}
                    <div class="menuSingleListItem">
                        <img src="/img/login.png" alt="">
                        <a href="/v1/auth/login">SignIn</a>
                    </div>
                    {{/if}}
                    <div class="menuSingleListItem">
                        <img src="/img/home (3).png" alt="">
                        <a href="/">Home</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/doctor (3).png" alt="">
                        <a href="/doctorlisting.html">Doctor</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/hospital-building.png" alt="">
                        <a href="/hospital">Hospital</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/medical-history (1).png" alt="">
                        <a href="#">Medical</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/ambulance.png" alt="">
                        <a href="#">Ambulance</a>
                    </div>
                    {{#if authenticated}}
                    <div class="menuSingleListItem">
                        <img src="/img/logout.png" alt="">
                        <a href="/v1/auth/logout">Logout</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>

        <script>
            let userName = document.querySelector('.MenuPage-userName');
            userName.addEventListener('click', () => {
                location.href = '/user'
            })
        </script>