@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
body {
    font-family: 'Poppins', sans-serif !important;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #3A62FF;
    --white: #fff;
    --light-text-color: #7D7D7D;
    --dark-color: #000;
    --grey-color: #F0EEEE;
    --grey-text-color: #5a5a5a;
}

i, ion-icon, a, div, p, h1, h2, h3, li, section {
    -webkit-tap-highlight-color: transparent;
}

.db-left {
    width: 15%;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--primary);
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 1px solid white;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.db-left h1 {
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 0px;
    padding: 25px 0px 10px 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    z-index: 1;
}

.db-left a, p {
    color: var(--white);
    text-decoration: none;
}

.db-left a:hover {
    color: var(--white);
}

.dashboard-item {
    display: flex;
    /* align-items: center; */
    color: var(--white);
    width: 100%;
    justify-content: space-between;
    font-size: 17px;
}

.leftIcon-text {
    display: flex;
    /* align-items: center; */
    color: var(--white);
}

.menuItems {
    width: 100%;
    /* position: relative;
    top: 15%;
    z-index: 10; */
}

.leftDropdownItems {
    margin: 10px;
}

.leftIcon-text ion-icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
    color: var(--grey-color)
}

.singleDropDown-Text {
    color: var(-white);
    position: relative;
    left: 20px;
    width: fit-content;
    font-size: 13px;
}

.db-right {
    width: 85%;
    max-height: 100vh;
    overflow-y: auto;
    background-color: #f5f4f8;
}

.dashboard {
    display: flex;
    /* align-items: center; */
    color: var(--white);
    width: 100%;
    justify-content: space-between;
}

.navHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-nh {
    display: flex;
    align-items: center;
    color: var(--grey-text-color);
}

.left-nh p {
    margin: 0px 10px;
    font: 15px !important;
}

.left-nh p a {
    color: var(--grey-text-color);
    text-decoration: none;
}

.left-nh p a:hover {
    color: var(--primary)
}

.right-vh {
    display: flex;
    align-items: center;
}

.right-vh p {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--grey-text-color);
    top: 8px;
    right: 8px;
}

.right-vh img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pageHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageHeading button {
    background-color: var(--primary);
    color: var(--white);
    font-size: 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-right: 20px;
    padding: 10px;
}

.pageHeading h1 {
    color: var(--primary);
    font-weight: 600;
    margin: 20px !important;
    font-size: 20px !important;
}

.allAnalytics p {
    color: var(--grey-text-color);
    font-size: 12px;
    position: relative;
    top: 8px;
    margin-top: -15px;
}

.upper-img-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-img-heading img {
    width: 30px;
}

.analytics-card {
    /* width: 20%; */
    padding: 10px;
    margin: 10px;
    background-color: var(--white);
    border-radius: 10px;
}

.analytics-count p:first-child {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    color: var(--grey-text-color);
}

.allAnalytics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 15px;
}

/* Add new Hospital css */

.uploadHospitalFormSection {
    display: flex;
}

.UHS-left {
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px;
    margin: 0px 20px 30px 20px;
}

.UHS-right {
    width: 35%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
    margin: 0px 20px 30px 20px;
}

.singleField input, .singleField textarea, .col2_fields input {
    width: 100%;
    margin: 10px auto;
    border: none;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.col2_fields {
    display: flex;
}

.col2_fields input {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftField {
    margin-right: 5px !important;
}

.rightField {
    margin-left: 5px !important;
}

.UHS-featuredImg {
    width: 100%;
}

.UHS-right input[type=file] {
    width: 100%;
    color: var(--grey-text-color)
}

#featuredImg, #multipleImgs {
    display: none;
}

.UHS-featuredImg label {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 6px;
    color: var(--grey-text-color);
    padding: 8px;
}

.submit-UH {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 8px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 6px;
    outline: none;
}

/* View all Hospitals Page */

.allHospitalDataList {
    width: 95%;
    background-color: var(--white);
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-height: 70vh;
    height: 100%;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: 600;
}

td, th {
    border: 1px solid var(--light-text-color) !important;
    padding: 8px;
    color: var(--dark-color);
    width: 33.33% !important;
}

.actionBtns-AHL a {
    color: var(--white);
    background-color: var(--primary);
    border: none;
    padding: 5px 22px;
    outline: none;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 5px;
    border-radius: 4px;
    width: 20%;
}

.actionBtns-AHL a:hover {
    color: var(--white);
}

.totalPostsAnyData {
    width: 50%;
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}


.graphs{
    display: flex;
    justify-content: space-between;
}