@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #3A62FF;
    --white: #fff;
    --light-text-color: #7D7D7D;
    --dark-color: #000;
    --grey-color: #F0EEEE;
    --grey-text-color: #5a5a5a;
}

i, ion-icon, a, div, p, h1, h2, h3, li, section {
    -webkit-tap-highlight-color: transparent;
}


.goBack{
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
    margin: 20px;
}

.emailSection-CP{
    max-width: 90%;
    margin: auto;
}

.emailSection-CP h1{
    font-weight: 600;
    
}

.emailForm {
    margin: 20px 0px;
}

.emailForm form input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    outline: none;
    font-size: 21px;
    font-family: poppins;
    padding: 10px;
    margin: 8px auto;
}

.emailForm form input[type=submit] {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
}