<link rel="stylesheet" href="/style/changePassword.css">
<div class="goBack" onclick="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
</div>

{{!-- CP => change Password --}}
<div class="emailSection-CP">
    <h1>Reset Password</h1>
    <p>Enter your Email associated with your account and we will send an email with 4 digit OTP to confirm whether its
        your Email or not</p>

    <div class="emailForm">
        <form action="/v1/auth/credentials/password" method="GET">

            <input type="email" name="userEmail" placeholder="Enter Email" required>
            <input type="submit" value="Send OTP"></input>
        </form>
        {{#if message}}
        <p class="errorMSG">{{message}}</p>
        {{/if}}
    </div>
</div>

<script src="/js/common.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>