<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/menu.css">
    <header>
        <nav class="headerArea">
            <div class="menuIcon">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="pageTitle">
                <h1>HealthAura</h1>
            </div>
        </nav>
    </header>

    <!-- Body -->
    <!-- SearchBar -->
    <section class="searchbarSection">
        <div class="searchBar-Homepage">
            <div class="searchIcon">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <div class="searchText">
                <p>Search Here</p>
            </div>
        </div>
    </section>

    <!-- banner 1 -->
    <section class="bannerarea">
        <div class="bannerImage-Home">
            <img src="/img/Medical Support.png" alt="">
        </div>
    </section>

    <!-- home page category section -->
    <section class="health_cat-home">
        <div class="box">
            <img src="/img/cardiology.png" alt="">
            <p class="health-cat-name">Cardiology</p>
        </div>

        <div class="box">
            <img src="/img/dermatology.png" alt="">
            <p class="health-cat-name">Dermatology</p>
        </div>
        <div class="box">
            <img src="/img/Neurology.png" alt="">
            <p class="health-cat-name">Neurology</p>
        </div>
        <div class="box">
            <img src="/img/Dentist.png" alt="">
            <p class="health-cat-name">Dentist</p>
        </div>
        <div class="box">
            <img src="/img/doctor.png" alt="">
            <p class="health-cat-name">Surgery</p>
        </div>
        <div class="box">
            <img src="/img/urology.png" alt="">
            <p class="health-cat-name">Urology</p>
        </div>
        <div class="box">
            <img src="/img/cardiology.png" alt="">
            <p class="health-cat-name">cardiology</p>
        </div>
        <div class="box">
            <img src="/img/dermatology.png" alt="">
            <p class="health-cat-name">Dermatology</p>
        </div>
        <div class="box">
            <img src="/img/more.png" alt="">
            <p class="health-cat-name">Show More</p>
        </div>
    </section>

    <!-- banner 2 -->
    <section class="bannerarea">
        <div class="bannerImage-Home">
            <img src="/img/1.png" alt="">
        </div>
    </section>

    <!-- Our Medicals - Home Page -->
    <section class="ourMedicals-Home">
        <div class="medicalaInfoSection">
            <div class="medicalText">
                <p class="heading">Our Medicals</p>
                <p class="normalText ourMedicalInfo">
                    Want to check what and how your Medicine works? We also provide Medicinal Information, check it
                    before using.
                </p>
            </div>
            <div class="CTA-btn">
                <a href="#"><button>Check More</button></a>
            </div>
        </div>
    </section>


    <!-- banner 2 -->
    <section class="bannerarea">
        <div class="bannerImage-Home">
            <img src="/img/Blood donation.png" alt="">
        </div>
    </section>


    <section class="ourServices">
        <div class="ourservicesInnerSec">
            <div class="ourServicesHomeHeading">
                <p class="heading">Our Services</p>
            </div>
            <div class="servicesComponents health_cat-home">
                <div class="box">
                    <img src="/img/hospital.png" alt="">
                    <p class="health-cat-name">Hospitals</p>
                </div>
                <div class="box">
                    <img src="/img/doctor (1).png" alt="">
                    <p class="health-cat-name">Doctors</p>
                </div>
                <div class="box">
                    <img src="/img/medicals.png" alt="">
                    <p class="health-cat-name">Medicals</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="divider">

    <footer>
        <div class="company-Branding">
            <h2 class="heading">HealthAura</h2>
            <p class="smallText">Your Health With Us</p>
        </div>

        <div class="footerMenu">
            <div class="knowUsSection-f">
                <p class="title footerMenu-Title">Know Us</p>
                <ul>
                    <li class="footer-li"><a href="#">About Us</a></li>
                    <li class="footer-li"><a href="#">Contact Us</a></li>
                    <li class="footer-li"><a href="#">Career</a></li>
                    <li class="footer-li"><a href="#">Start Business</a></li>
                </ul>
            </div>
            <div class="servicesSection-f">
                <p class="title footerMenu-Title">Services</p>
                <ul>
                    <li class="footer-li"><a href="#">Search Hospital</a></li>
                    <li class="footer-li"><a href="#">Nearby Medicals</a></li>
                    <li class="footer-li"><a href="#">Call Doctors</a></li>
                    <li class="footer-li"><a href="#">Try Advance Search</a></li>
                </ul>
            </div>
        </div>

        <div class="copyRight-tnc">
            <div class="copyrightText">
                <p class="samllText">© HealthAuro 2021</p>
            </div>
            <div class="termsAndConditionText">
                <p class="samllText"><a href="/">Terms of use</a></p>
            </div>
        </div>
    </footer>


    <!-- Dynamic Sections -->
    <!-- Search PopUp -->
    <section class="searchPage-hospital">
        <div class="cancelBtn-searchPage">
            <ion-icon name="close-outline"></ion-icon>
        </div>

        <div class="searchUpperSection">
            <div class="searchInput">
                <form action="/search" method="POST">
                    <ion-icon name="search-outline" class="searchIcon-hospitalSearch"></ion-icon>
                    <input type="text" name="searchhospital" class="HSP-normalSearch"
                        placeholder="Search for Hospitals">
                    <button type="submit">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </button>
                </form>
            </div>

            <div class="userLocationDetector">
                <ion-icon name="location-outline"></ion-icon>
                <div class="icon-text">
                    <p class="title locationDetector">Detect your location</p>
                    <p class="smallText">Using GPS</p>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="advanceSearchHeading">
            <p class="heading">Advance Search</p>
            <div class="advanceSearchInput">
                <form action="/advance-search" method="POST">
                    <div class="userCityName advanceSearchInput">
                        <ion-icon class="advanceSearchIcon" name="location-outline"></ion-icon>
                        <input type="text" placeholder="Enter City" class="loglat">
                    </div>

                    <div class="userTreatmentName advanceSearchInput">
                        <!-- ASHP => Advance Search Hospiptal page -->
                        <ion-icon class="advanceSearchIcon treatmentIcon-ASHP" name="heart-half-outline"></ion-icon>
                        <input type="text" placeholder="Enter City">
                    </div>

                    <div class="submit-advanceSearch">
                        <button type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>


        <hr class="divider dividerSearchPage">

        <div class="boxMedicaDoctor">
            <div class="boxDoctor box-common-hda">
                <img src="/img/doctor (1).png" alt="">
                <p>Doctors</p>
            </div>
            <div class="boxDoctor box-common-hda">
                <img src="/img/medicals.png" alt="">
                <p>Medicals</p>
            </div>
            <div class="boxDoctor box-common-hda">
                <img src="/img/ambulance.png" alt="">
                <p>Ambulance</p>
            </div>
        </div>

    </section>

    <!-- Transparent  background loading effect-->
    <div class="showLoading">
        <div class="loadingScreen">
            <div class="loadingEffect">
                <img src="/img/XOsX.gif" alt="loadingEffect">
            </div>
        </div>
    </div>




    <!-- Bottom Menu Mobile -->
<!-- 
    <div class="bottomMenu">
        <div class="bottomMenuItems">
            <div class="homeIcon-bm">
                <img src="/public/img/home-bmicon.png" alt="">
            </div>
            <div class="homeIcon-bm goToHospital">
                <img src="/public/img/hospital-bmicon.png" alt="">
            </div>
            <div class="homeIcon-bm">
                <img src="/public/img/doctor-bmicon.png" alt="">
            </div>
            <div class="homeIcon-bm">
                <img src="/public/img/user.png" alt="">
            </div>
        </div>
    </div> -->


    <!-- Transparent background loading effect-->
        <div class="showLoading">
            <div class="loadingScreen">
                <div class="loadingEffect">
                    <img src="/img/XOsX.gif" alt="loadingEffect">
                </div>
            </div>
        </div>



        <!-- Menu -->
        <section class="mobileMenu">
            <div class="upperMobileMenuArea">
                <ion-icon name="close-outline" class="mobileMenuCloseIcon"></ion-icon>
                <div class="mobileMenuUPAREA">
                    <div class="userAvatar">
                        <img src="/img/user.png" alt="">
                    </div>
                {{#if notAuthenticated}}
                    <div class="MenuPage-userName">
                        <p>Guest User</p>
                        <p>Unknown</p>
                    </div>
                {{/if}}
                {{#each validUser}}
                <div class="MenuPage-userName">
                        <p>{{this.userName}}</p>
                        <p>{{this.userCity}}</p>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="LowerMobileMenuArea">
                <div class="lowerMenuItems">
                    {{#if notAuthenticated}}
                    <div class="menuSingleListItem">
                        <img src="/img/login.png" alt="">
                        <a href="/v1/auth/login">SignIn</a>
                    </div>
                    {{/if}}
                    <div class="menuSingleListItem">
                        <img src="/img/home (3).png" alt="">
                        <a href="/">Home</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/doctor (3).png" alt="">
                        <a href="/doctorlisting.html">Doctor</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/hospital-building.png" alt="">
                        <a href="/hospital">Hospital</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/medical-history (1).png" alt="">
                        <a href="#">Medical</a>
                    </div>
                    <div class="menuSingleListItem">
                        <img src="/img/ambulance.png" alt="">
                        <a href="#">Ambulance</a>
                    </div>
                    {{#if authenticated}}
                    <div class="menuSingleListItem">
                        <img src="/img/logout.png" alt="">
                        <a href="/v1/auth/logout">Logout</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
    <script src="/js/app.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
