<link rel="stylesheet" href="/style/login.css">
    <section class="loginPage">
        <div class="upperLoginSection">
            <div class="goBackBtn">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="pageTitleText">
                <p>Welcome Back!</p>
                <h2>Nice to see you again</h2>
            </div>
        </div>
        
        <div class="lowerLoginSection">
            <div class="loginForm">
                <form action="/v1/auth/login" method="POST">
                    <div class="formFields emailField">
                        
                        <input type="email" autocomplete="off" aria-autocomplete="none" name="userEmail" id="userEmail" placeholder="Email ID" onkeydown="checkEmail(this.value)">
                        <ion-icon name="mail-outline" id="emailIcon"></ion-icon>
                    </div>
                    <div class="formFields passwordField">
                        <input type="password" autocomplete="off" name="userPassword" id="userPassword" placeholder="Password" onkeydown="checkPassword(this.value)">
                        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                        <ion-icon name="lock-open-outline" id="passwordIcon"></ion-icon>
                    </div>
                    <div class="submitField">
                        <input type="submit" id="" value="Login">
                    </div>
                </form>
            </div>
            <div class="createAccMsg">
                <p>Don't have an account? <span class="span-createAccMsg"><a href="/v1/auth/register">Create One</a></span></p>
            </div>
        </div>
    </section>

     {{#if message}}
        <div class="messageFromServer">
            <p>{{message}}</p>
        </div>
    {{/if}}

    <script src="/js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>